.catalog{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.catalog__page{
    width: 100%;
}
.catalog__inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__title{
    margin-bottom: 50px;
}
.catalog__content-nav-wrap{
    background: #fff;
    z-index: 3;
    position: sticky;
    top: 0 ;
    margin-bottom: 50px;
    width: 100%;
    border-bottom: .0625rem solid #e6e6e6;
}
.catalog__content-nav-link{
    width: 3.5rem;
    cursor: pointer;
    padding: 20px 0 20px 0 ;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.catalog__content-nav-linkk{
    cursor: pointer;
    padding: 20px 0 20px 0 ;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.catalog__content-nav-link:hover, .catalog__content-nav-linkk:hover{
    border-bottom: 3px solid black;
}
.catalog__content-nav-wrap__inner{
    display: flex;
}


.catalog__inner{
    align-items: start;
}
.catalog__inner-section-title{
    letter-spacing: 0;
}
.catalog__title{
    margin:0 0 30px 0;
    letter-spacing: 0;
}
.catalog__cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 0 1rem;
    row-gap: 1rem;
}

.line{
    border-bottom: 1px solid #e6e6e6;
}
.active{
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.catalog__content-nav-link--active{
    color: blue;
}