header{
    margin-bottom: 50px;
    border-bottom: 1px solid #0000003a;
    width: 100%;
}
.logo__all{

}
.header__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo__all>img{
    width: 70px;
    padding: 15px 0;
}
.header__nav-link{
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.header__nav{
    display: flex;
    gap: 1.3rem;
    width: 343px;
}
.cart-block{
    width: 343px;
    display: flex;
    justify-content: end;
}
.active{
    border-bottom: 1px solid white;
}