footer{
    background-color: black;
    padding: 20px 0;
    margin-top: 60px;
}
.footer__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo__all {
}
.footer__nav {
    display: flex;
    gap: 40px;
}
.footer__nav-link {
    color: white;
}